<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>main page</h1>

    <h3>Welcome, <%= id %>번째 가입자이십니다.!!</h3>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam voluptate dolor porro voluptatem. Nostrum magnam accusamus dolores similique illo maxime iste, culpa soluta doloribus praesentium porro enim provident explicabo modi aperiam, dolor ratione. Dolorem ea provident ullam mollitia veniam accusantium accusamus quaerat nihil atque quisquam voluptate culpa, laudantium libero praesentium laborum soluta, iste, fugiat totam? Eum quis id facere itaque ratione. Cupiditate esse, a corporis modi fuga sequi pariatur rerum ab dicta, sit eos architecto? Placeat maiores corporis facilis laudantium cupiditate, quidem ea eos saepe consequuntur et distinctio doloremque facere perspiciatis in, illum neque natus qui quas earum fugit totam.</p>


    <img src="images/Cat03.jpg" alt="" width="300px;">

    <div><a href="/logout">logout</a></div>
    <script src="main.js"></script>
</body>
</html>